# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
